@model Employee

<form asp-action="UpdateEmployee" method="post" asp-controller="Employee">

    <input type="hidden" asp-for="EmployeeId" />
    <div>
        <input asp-for="FirstName" />
    </div>

    <br /> <br />

    <div>
        <input asp-for="LastName" />
    </div>
    <br /> <br />

    <div>
        <button class="btn btn-primary">
            Güncelle
        </button>
    </div>
</form>